.collection-heading{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 auto;
    max-width: 80%;
}